<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/api-docs">Swagger</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/form">Form</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    nav a {
        text-decoration: none;
        color: #000;
    }
</style>