
<div id="wrapper">
    <h1>THRIVING CELLS</h1>
    <p>Getting to the core of healing</p>
    <button id="login">Sign Up</button>
</div>

<div id="schedule">
    <p>Feel like you’ve tried everything? Never seen a difference? 
        We’ve been there. Want to get answers?
        Schedule a consultation today!</p>
    <button id="consultation">Schedule Now</button>
</div>

<section id="featured">
    <h2>Featured Services</h2>
    <div>
        <h3>Hair Analysis</h3>
        <p>
            in-depth look at your bodies systems and environemental factors</p>
    </div>
    <div>
        <h3>Epigenetic Testing</h3>
        <p>discover your risk for certain diseases based on your genetic makeup</p>
    </div>
    <div>
        <h3>Cell Core Detox</h3>
        <p>heal your body in a direct approach through Cell Core’s Detox</p>
    </div>
    <button>All Services</button>
</section>